.landmenu{
  box-shadow:rgb(63, 20, 99) 2px 2px 10px;
}


/* .listofcharacterwrap::-webkit-scrollbar{
background-color: rgb(178, 162, 184);
border-radius: 18px;
} */

.listofcharacterwrap::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(0, 0, 0);


}


.listofcharacterwrap::-webkit-scrollbar-thumb {
background: rgba(68, 17, 126, 0.842);
border-radius: 6px;

}


.nameOfLand{
  color:rgb(55, 8, 116);
}




.map{
  box-shadow:rgb(56, 16, 107) 1px 1px 8px;
}

.smallsizesearch{
  box-shadow:rgb(61, 14, 88) 2px 2px 10px;
}


.characterlistA{
  background-color:rgb(132, 0, 255);
}

.characternames{
  color:rgb(84, 21, 155);
}

.introinfo p{
  color: rgb(135, 41, 224);
}

.hiddenvillagewrap{
  box-shadow:rgb(55, 9, 92) 2px 2px 8px;
}

.hiddenvillagep{
  color:rgb(55, 3, 85);
}


.thirdpageline, .thirdpagetitle{
  background-color: rgb(100, 0, 139);
}

.clansbutton{
  background-color:rgba(132, 0, 255, 0.356);
}


    .slideimagename span:hover{
        box-shadow: 1px 1px 9px rgb(143, 42, 184);
    }
    
    .slideimagename span a{
  color: rgb(92, 0, 128);
}

